<!DOCTYPE html>
{% load static %}
<html lang="en">
    {% include 'index_head.html' %}
    <style>
    #ho{
        color:white;
    }
    idv{
        margin: 40%;
        padding: 20%;
    }
     .row{
        position: relative;
        margin-left:3% ;
        margin-top: 6s%;
    }
    
    #inrow{
        width: 100%;
    }
    </style>
    
      






<body>
<div class="container-fluid">
    <div class="row">    
        <div class="col-4">
            {% include 'index_nav.html' %}

        </div>
        <div class="col-10">
            <div class="row " id="inrow">
            
                <div class="col-md-6 col-md-offset-2">
                                <h1 class="mb-0">
                                    Customer
                                    <span class="text-primary"> Details</span>
                                </h1>
                                
                                <form method="POST" action="">
                                    {% csrf_token %}
                
                                    {% for Fi in form %}
                                        {{Fi.label_tag}}
                                        {{Fi}}
                
                                    {% endfor %}
                                    
                                    
                                    
                                    <br><br><br><br><input type="submit" class="btn btn-success">
                                    <button class="btn btn-info"><a href="{% url 'listing' %}"><i class="fa fa-home"></i> <label id="ho">Home</label></a></button>
                                </form>
                </div>
                <div class="col-md-6" id="carD">
                                <h1 class="mb-0">
                                    Car
                                    <span class="text-primary"> Details</span>
                                </h1>

                                
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    
                                    {% for Fi in form2 %}
                                        {{Fi.label_tag}}
                                        {{Fi}}
                
                                    {% endfor %}
                                    
                                    
                                    
                                    <br><br><br><br><input type="submit" class="btn btn-success">
                                    <button class="btn btn-info"><a href="{% url 'listing' %}"><i class="fa fa-home"></i> <label id="ho">Home</label></a></button>
                                </form>
                
                </div>
            </div>
            <div class="row" id="inrow">

                <div class="col-md-6">
                                <h1 class="mb-0">
                                    Insurance
                                    <span class="text-primary"> Details</span>
                                </h1>

 
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    
                                    {% for Fig in form3 %}
                                        {{Fig.label_tag}}
                                        {{Fig}}
                
                                    {% endfor %}
                                    

                                    
                                    <br><br><input type="submit" class="btn btn-success">
                                    <button class="btn btn-info"><a href="{% url 'listing' %}"><i class="fa fa-home"></i> <label id="ho">Home</label></a></button>
                                </form>   
                </div>
                <div class="col-md-6">

                                <h1 class="mb-0">
                                    RTO
                                    <span class="text-primary"> Details</span>
                                </h1>


                                <form method="POST" action="">
                                    {% csrf_token %}
                                    
                                    {% for Fig in form4 %}
                                        {{Fig.label_tag}}
                                        {{Fig}}
                
                                    {% endfor %}
                                    
                                    
                                    
                                    <br><br><input type="submit" class="btn btn-success">
                                    <button class="btn btn-info"><a href="{% url 'listing' %}"><i class="fa fa-home"></i> <label id="ho">Home</label></a></button>
                                </form>
                        
                </div>
            <hr>
            </div>
            <div class="row " id="inrow">
                <div class="col-md-6">
                                <br><br><br><br>
                                <h1 class="mb-0">
                                    other
                                    <span class="text-primary"> Details</span>
                                </h1>

                                <form method="POST" action="">
                                    {% csrf_token %}
                                    
                                    {% for F in form5 %}
                                        {{F.label_tag}}
                                        {{F}}
                
                                    {% endfor %}
                                    
                                    
                                    <br><br><input type="submit" class="btn btn-success">
                                    <button class="btn btn-info"><a href="{% url 'listing' %}"><i class="fa fa-home"></i> <label id="ho">Home</label></a></button>
                                </form>
        
                
                    
                </div>
                <div class="col-md-6 align-items-center">
                    <button class="btn btn-info"><a href="{% url 'pdf' id %}"><i class="fa fa-file" style="font-size:36px"></i><label id="ho"> Pdf</label></a></button>                        
                
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.query.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.clo.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'car/js/scripts.js' %}"></script>
    </body>
</html>
