
<!doctype html>
{% load static %}
<html>
	<head>
		<title> Transparent Login form </title>
		<link rel="stylesheet" href="{% static 'car/css/login.css' %}" >
		<link rel="stylesheet" href="{% static 'car/css/Bootstrap.css' %}" >
	<style>
		#veer4221{
			background-color: teal;
			padding:4%;
		}
		body{
			background-color: gainsboro;
		}
		#lgbox{
			border: 4px solid black;
 			border-radius: 50px 20px;
			box-shadow: 14px 28px;
			
		}
	</style>

	</head>
	<body>
		<div class=”container” id="veer4221">
			<div class=”row”>
			  <div class=”col-xs-6 col-md-4”></div>
			</div>
		  </div>

	<div class="wh">	
		<div class="loginBox" id="lgbox">
			
			<img src="{% static 'car/image/user.png' %} " class="user">
			<h2>Log In Here</h2>
			<form action="" method="POST">
				{% csrf_token %}
				<p><label for="id_username">Username:</label></p>
				{{form.username}}
				<p><label for="id_password">Password:</label></p>
				{{form.password}}
				<input type="submit" value="Login">
			</form>
			<!-- <form mathod="post">
		
				{% csrf_token %}
				{{form}} 
			 <input type="submit" value="login" >
				<!-- <p>UserName</p>
				<input type="text" name = "" placeholder="Enter Email">
				<p>Password</p>
				<input type="password" name = "" placeholder="Enter Password">
				<input type="submit" name = "" value="login">
				<a href="#"> Forget Password</a> 
				 -->
			 
		</div>
	</div>
	<script src="{% static 'car/js/bootstrap.js' %}"></script>
	</body>
</html>